<script>
  import Header from "../../components/+header.svelte";
  import Navigation from "../../components/+navigation.svelte";
  import Future from "../../components/sketches/future.svelte";
</script>

<svelte:head>
  <title>pierre depaz | future</title>
  <link rel="stylesheet" href="/styles/future.css">
</svelte:head>

<Future />
<div class="container">
  <Header
    title="a digital display case"
    subtitle="of well-meaning suggestions"
    target="/"
  />
  <Navigation current="future" />
  <div class="content">
    <div class="row">
      <div
        class="six columns invisible"
        style="border-right: 2px solid black; border-left: 2px solid white; margin-top: 40px;"
      >
        we build walls to protect ourselves from the economies we've created.
      </div>
      <div class="six columns preamble" id="incipit">
        <h4>one thing</h4>
        <br />
        <p>
          that we, as a species, are not very good at, is predicting the future.
          and yet, this has never stopped us from trying.
        </p>
        <p>
          here are a couple of those imagined situations, which would constitute
          a future in which i wouldn't mind living in.
        </p>
      </div>
    </div>
    <br />
    <br />
    <hr />
    <div class="row">
      <div class="twelve columns">
        <ol class="proposals">
          <li class="left">
            <div class="proposal-header">
              no one is legally allowed to earn more than 100,000.00 USD <a
                href="https://en.wikipedia.org/wiki/Purchasing_power_parity"
                target="_blank">PPP</a
              >, per year, per capita.
            </div>

            <div class="statement">
              <p class="proposal-content">
                the biggest problem we're facing today is that we consider profit as limitless (we also consider progress as limitless, and that is also <a
                  href="/chumps_sprinkles_overdub.mp3"
                  target="_blank">debatable</a
                >).<br/>along with addressing the wealth inequality as the source of today's majore crises, putting a hard cap on how much one can
                earn could help shift our motivations to do good work from an
                external one (good work for the good money that it brings) to an
                internal one (good work for the good life that it brings).
              </p>
              <div class="proposal-prompt">what would be your maximum income threshold?</div>
            </div>
          </li>

          <li class="right">
            <div class="proposal-header">
              the most sought after jobs are the ones that are most needed.
            </div>

            <div class="statement">
              <div class="proposal-prompt">
                why aren't those jobs highlighted as reliable, future-proof
                employment?
              </div>

              <p class="proposal-content">
                in short, farmers, nurses and personal care aides. it seems reasonable to start by encouraging what is necessary, and then follow
                with what is nice to have.<br/>recognizing the invaluable (in a very literal sense)
                aspects of these jobs would allow us to get the basics straight,
                ensure everyone is doing fine and, incidentally, give praise to the people
                who are currently doing those jobs—often immigrants.
              </p>
            </div>
          </li>

          <li class="left">
            <div class="proposal-header">
              single-occupancy sport-utility vehicles are banned.
            </div>

            <div class="statement">
              <p class="proposal-content">
                decades after <a
                  href="https://www.bloomberg.com/news/articles/2012-04-24/the-invention-of-jaywalking"
                  target="_blank">deliberate lobbying from the car industry</a
                >
                to install the single-occupancy vehicle as the default means of transportation,
                the rise of the SUV market is maintaining the global
                CO2 emissions of the automobile market level despite innovations in engine efficiency, along with
                <a
                  href="https://www.thezebra.com/resources/driving/average-car-size/"
                  target="_blank">taking more and more space</a
                >
                on our streets.<br />driving a SUV alone in an urban environment
                is a selfish, wasteful and dangerous social marker, and we should find
                better displays of social worth.
              </p>
              <div class="proposal-prompt">
                why do we consider cars as default transport? what does that say
                about habit and/or convenience?
              </div>
            </div>
          </li>

          <li class="right">
            <div class="proposal-header">
              some members of the government are chosen at random among the
              citizens of the country
            </div>

            <div class="statement">
              <div class="proposal-prompt">
                do you trust yourself to make decisions that would affect a lot
                of other people? what about after thoroughly studying
                the subject?
              </div>

              <p class="proposal-content">
                the early greek democracies included <a
                  href="https://journals.sagepub.com/doi/10.1177/0032329213483109"
                  target="_blank">a randomly-picked citizen</a
                >
                in their decision making processes; such a citizen was called "the
                one chosen by the gods". the assumption was that, while the information-gathering
                process still needs to be done by people trained to do so, the decision-making
                process can be done by people with basic intelligence—i.e. anyone.<br
                />it is already normalized in juries: we are very comfortable with the idea of
                trusting a possible life-changing punishment to a group of
                randomly-picked members of the community. if anyone is deemed able to enact
                fair justice, why isn't that the case for the rest of our
                political bodies?
              </p>
            </div>
          </li>

          <li class="left">
            <div class="proposal-header">
              globalization is honest with itself and either limits the flows of
              goods and capital, or allows the unlimited flows of people.
            </div>

            <div class="statement">
              <p class="proposal-content">
                it is expected that population flows would want to follow
                wealth flows; if we want a connected world, we need to connect all parts of
                it. one of the main reasons why population flows (some
                call it immigration) might have negative impact on their host
                (host!) countries, is that they are still denied the possibility
                to access the wealth they create; that is, the right to work (whether
                or not that work is done for money, or for happiness—see above).<br
                />and if that doesn't work, then we readjust, because systematic
                inconsistency is fertile ground for political violence, whether
                ground-up, or bottom-down.
              </p>
              <div class="proposal-prompt">
                if we destroy a country's homes, what should the homeless do?
              </div>
            </div>
          </li>

          <li class="right">
            <div class="proposal-header">
              we are seriously considering animal rights.
            </div>

            <div class="statement">
              <div class="proposal-prompt">
                are humans animal? how are we actually
                special? how are we not?
              </div>

              <p class="proposal-content">
                there was a point in history during which <a
                  href="https://en.wikipedia.org/wiki/Sublimis_Deus"
                  target="_blank"
                  >white europeans believed black africans did not have souls</a
                >. this seems absurd today. how absurd will it look in a couple
                of hundred years that we once thought non-human animals did not
                have souls either?
              </p>
            </div>
          </li>

          <li class="left">
            <div class="proposal-header">
              residents of a country have a right to vote in local elections.
            </div>

            <div class="statement">
              <p class="proposal-content">
                if you live somewhere, you probably know better than foreigners
                (distant governement officials) what is best for your neighborhood.
                while that knowledge might not be backed by numbers, it is
                backed by lived experience, itself a powerful means of
                understanding.<br />additionally, the residents of a country
                that came from somewhere else have forcibly uprooted themselves
                to get to where they are now, and that fact alone should be
                grounds to trust that they want to make the place where they
                live the best possible.
              </p>
              <div class="proposal-prompt">
                what do you think the requirements for voting should be (if
                citizenship wasn't a thing)?
              </div>
            </div>
          </li>

          <li class="right">
            <div class="proposal-header">
              education is recognized as the single most important factor for
              making the world a better place.
            </div>

            <div class="statement">
              <div class="proposal-prompt">
                why are elementary/highschool teachers so poorly paid? does education always rely on school?
              </div>

              <p class="proposal-content">
                another problem that we are confronted with as societies is that
                everyone is <a
                  href="https://en.wikipedia.org/wiki/The_First_Man"
                  target="_blank">the first human</a
                >; that is, everyone has to learn everything that we as a group
                already know, from the day they are born. everyone has to learn,
                experience, assess and re-assess values, morals and priorities.<br
                />there is no magic solution to this problem, but education
                can mitigate it by speeding up the process, and allowing future
                generations to stand on the shoulders of those that came before. it's easier to raise good children than to fix broken adults, <a href="https://checkyourfact.com/2019/04/30/fact-check-frederick-douglass-easier-build-strong-children-repair-broken-men/" target="_blank" rel="noopener noreferrer">as they say</a>.
              </p>
            </div>
          </li>

          <li class="left">
            <div class="proposal-header">
              we look at the increase of suicide rates in socio-economic
              categories to inform public policy.
            </div>

            <div class="statement">
              <p class="proposal-content">
                we spend most of our lives sleeping and working. while, as the
                great afro-american poet said, "<a href="https://www.youtube.com/watch?v=hI8A14Qcv68&pp=ygUQbnkgc3RhdGUgb2YgbWluZA%3D%3D" target="_blank">sleep is the cousin of death</a>",
                work is the other majority of what we do on any given day. so perhaps
                we should start looking at the kind of work that is so
                unbearable that one is ready to give up absolutely any other
                possible lived experience to make it stop. and perhaps we'd look
                at those of us working as policeperson and farmers differently.
              </p>
              <div class="proposal-prompt">
                could work really become one of the main drives of killing
                oneself? if so, why?
              </div>
            </div>
          </li>

          <li class="right">
            <div class="proposal-header">
              we re-consider justice as "love with open eyes"
            </div>

            <div class="statement">
              <div class="proposal-prompt">
                what is your definition of justice?
              </div>

              <p class="proposal-content">
                this means that we assume everyone is trying the best they can
                reasonably be asked to, and we do not expect less than that from
                anyone. perhaps this is also called "benefit of the doubt", and is hardly compatible with institutionalized punishment.
              </p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
