<script>
  import Drawings from "../../components/sketches/drawings.svelte";
  import Header from "../../components/+header.svelte";
  import Navigation from "../../components/+navigation.svelte";
  export let data;
</script>

<svelte:head>
  <title>pierre depaz | drawings</title>
</svelte:head>

<Drawings />
<div class="container">
  <Header
    title="a digital display case"
    subtitle="of computer drawings"
    target="/"
  />
  <Navigation current="" />
  <div class="content">
    <div class="row">
      <div class="six columns incipit" id="incipit">
        a collection of sketches, compositions and animations, written by a
        human and drawn by a computer.<br /><br />for some of them, you can
        access selected stills, as well as the source code, and sometimes the output.<br /><br />more moving images are
        <a href="http://vimeo.com/pierredepaz" target="_blank">here</a>
        and
        <a
          href="https://www.youtube.com/channel/UCwojeYJ6RVIWoe2_3a1SmYg"
          target="_blank">there</a
        >.
      </div>

      <div class="six columns invisible">
        [...] a delimitation of spaces and times, of the visible and the
        invisible, of speech and noise, that simultaneously determines the place
        and the stakes of politics as a form of experience.
      </div>
    </div>
    <br />
    <br />
    <hr />
    <div class="row">
      <ul>
        {#each data.drawings as d}
          <li>
            <span class="title">
              {d.title}
            </span>
            <br />
            <br />
            <div class="preview">
              <img
                class="thumbnail"
                src={`${d.image}`}
                alt={d.title}
                srcset=""
              />

              <div class="details">
                <div class="description">
                  {d.description}
                </div>
                <div class="links">
                  {#each d.links as l}
                    <a href={l.url}>{l.name}</a>
                  {/each}
                </div>
              </div>
            </div>
          </li>
        {/each}
      </ul>
    </div>
  </div>
</div>

<style>
  ul {
    margin-top: 5%;
    padding-left: 0;
    list-style-type: none;
  }

  li {
    font-family: EdwardPro-ExtraLight;
    padding-bottom: 10%;
    width: 100%;
    overflow: hidden;
    height: 100%;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }

  .thumbnail {
    float: left;
    width: 40%;
    height: auto;
    border: solid 2px var(--fg-color);
    padding: 10px;
  }

  .details {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .description {
    float: right;
    text-align: justify;
    transition: border-color 0.25s ease-in-out;
    -webkit-transition: border-color 0.25s ease-in-out;
    -moz-transition: border-color 0.25s ease-in-out;

    transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
  }

  .links {
    display: flex;
    justify-content: space-between;
    width: 100%;

    text-align: center;

    transition: border-color 0.25s ease-in-out;
    -webkit-transition: border-color 0.25s ease-in-out;
    -moz-transition: border-color 0.25s ease-in-out;

    transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
  }

  li div a {
    margin: 0;
    padding: 0;
  }

  .title {
    width: 100%;
    font-family: EdwardPro-Normal;
    font-size: 1.7em;
  }

  @media only screen and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px) and (orientation: portrait) {
    .thumbnail {
      border: solid 1px var(--fg-color);
      padding: 2px;
    }

    .details {
        width: 50%;
    }
  }
</style>
