@font-face{
	font-family: Ashbury;
	font-display: swap;
	src: url("data/fonts/AshburyMed.otf");
}

@font-face{
	font-family: EdwardPro-Normal;
	font-display: swap;
	src: url("data/fonts/EdwardPro-Normal.otf");
}

@font-face{
	font-family: EdwardPro-ExtraLight;
	font-display: swap;
	src: url("data/fonts/EdwardPro-ExtraLight.otf");
}

body {

}

#container{
	margin-left: 25%;
	margin-right: 25%;
	font-family: EdwardPro-Normal;
}

#mainTitle{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

#mainTitle p {
	font-family: EdwardPro-ExtraLight;
	font-style: italic;
}

h1 {
	font-family: Ashbury;
	font-size: 48px;
}

a {
	color: black;
}

h1 a {
	color: black;
	text-decoration: none;
}

#navigation a{
	color:grey;
}

#navigation a:hover{
	color: black;
	font-style: underline;
}

#headerImg {
	background-image: url("data/header_temp_cropped.png");
	position: relative;
	margin-left: 0;
	height: 400px;
	width: 100%;
}

#navigation, #mainText{
	float:left;
}

#navigation{
	font-family: EdwardPro-ExtraLight;
	position: absolute;
	width: 25%;
	left: 10px;
	top: 300px;
}

#mainText {
	text-align: justify;
}

#embeddedVideo{
	position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
}

footer{
	float: right;
	font-family: Ashbury;
	color: rgb(150, 150, 150);
	margin: 10%;
	text-align: right;
	font-size: 14px;
	font-style: italic;
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait) {

#embeddedVideo{
	display: none;
}

#container{
	margin-right: 10%;
}

h1{
  font-size: 1.5em;
}

#mainText{
  font-size: 0.8em;
  width: 100%;
  text-align: justify;
  margin-top: 20%;
}

#mainText i{
  font-size: 0.8em;
}

#navigation{
	top: 29%;
}

footer{
  font-size: 0.5em;
  /*visibility:hidden;*/
}

}
