<script>
    import Header from "../components/+header.svelte";
    import Navigation from "../components/+navigation.svelte";
  </script>
  
  <div style="height: 200px">
  </div>
  <div class="container">
    <Header title="a digital error" subtitle=":(" target="/" />
    <Navigation current="" />
    <div class="content">
      <div class="row">
        <h4>oops,</h4>
        <p>something unexpected happened, and machines treat the unexpected as errors!</p>
      </div>
    </div>
  </div>
  