<script>
  import Footer from "../components/+footer.svelte";
</script>

<svelte:head>
  <meta charset="utf-8" />
  <meta name="viewport" , content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    ,
    content="meta (adj.): showing or suggesting an explicit awareness of itself or oneself as a member of its category."
  />
  <meta name="author" , content="pierre depaz" />
  <link href="/styles/skeleton/normalize.css" , rel="stylesheet" />
  <link href="/styles/skeleton/skeleton.css" , rel="stylesheet" />
  <link href="/styles/main.css" , rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/p5@1.7.0/lib/p5.js"></script>
  <script
    defer
    data-domain="pierredepaz.net"
    src="https://stats.ia-fictions.net/js/plausible.js"
  ></script>
  <title>pierre depaz</title>
</svelte:head>

<slot />
<Footer />
