<script>
  import { onMount } from "svelte";
  import Header from "../components/+header.svelte";
  import Navigation from "../components/+navigation.svelte";
  import Present from "../components/sketches/present.svelte";

  let nightly = false;
  let canShowTldr = false;
  onMount(() => {
    console.log("hey!");

    document.getElementById("nightly").onmouseover = (event) => {
      document.body.style.backgroundColor = "rgb(51, 51, 51)";
      event.target.style.color = "rgb(250, 250, 247)";
      nightly = true;
    };

    document.getElementById("nightly").onmouseout = (event) => {
      document.body.style.backgroundColor = "rgb(250, 250, 247)";
      event.target.style.color = "rgb(51, 51, 51)";
      nightly = false;
    };

    let greeting = document.getElementById("greeting");

    let d = new Date();
    let time = d.getHours();
    if (time >= 6 && time < 12) {
      greeting.innerText = "good morning,";
    } else {
      greeting.innerText = "hello,";
    }
  });
</script>

<svelte:head>
  <title>pierre depaz | webpage</title>
</svelte:head>
<Present {nightly} />
<div class="container">
  <Header title="a digital display case" subtitle="~" target="/" />
  <Navigation current="present" />
  <div class="content">
    <div class="row">
      <div class="six columns incipit" id="incipit">
        <h4 id="greeting">hello,</h4>
        <p>
          my name is <a href="/about">pierre</a> and i write natural and machine
          languages.
        </p>
        <p
          role=""
          on:click={() => (canShowTldr = !canShowTldr)}
          on:keydown={() => (canShowTldr = !canShowTldr)}
          style="cursor: help"
        >
          {#if canShowTldr}<div style="margin-bottom: 8px">
              essentially, i'm curious about how we think and communicate, now
              that computers are around.
            </div>
          {:else}
            i study software, how it represents the world and how it redistributes agency to its environment, with a focus on
            source code, programming languages and protocols as mediating forces in human
            discursive interactions.
          {/if}
          if you're looking for examples, you can find
          <a target="_blank" href="https://cv.hal.science/pierre-depaz"
            >publications in open access</a
          >.
        </p>
        <p>
          i wrote a phd on
          <a target="_blank" href="http://source.enframed.net"
            >the role of aesthetics in understanding source code</a
          >
          , focusing on how formal presentation affects cognition in digital environments,
          how programmers make sense of the software they write, and what beauty
          has to do with function.
        </p>
        <p>
          the courses i teach span across interactive media, digital sociology
          and media studies; you can find them over at
          <a
            target="_blank"
            href="https://cosyll.org/user/e7b74bcd-c864-41ee-b5a7-d3031f76c8a9"
            >cosyll</a
          >, a platform I created.
        </p>
        <p>
          i also write various kinds of <a href="/past">software</a>, sometimes
          for money, always for fun.
        </p>
        <p>
          here, you could come across both the
          <a href="/past/social-contact">brainiest</a>
          thing i've worked on, the
          <a href="/past/a-million-random-digits">silliest</a>, and perhaps the
          <a target="_blank" id="nightly" href="/coroutines/index.html"
            >nightly</a
          >.
        </p>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div
        class="six columns invisible"
        style="border-right: 2px solid rgb(51, 51, 51);
    border-left: 2px solid rgb(250, 250, 248);"
      >
        the first who, having enclosed a piece of land is thought of saying: "<i
          >this is mine</i
        >", and found people simple enough to believe it, he was the true
        founder of civil society.<br />what crimes, wars, murders, what miseries
        and horrors would not have saved the human race who, pulling up the
        stakes or filled in the ditch, had shouted to his fellows: "<i
          >beware of listening to this imposter, you are lost if you forget that
          the fruits belong to all and that the earth belongs to no one!</i
        >"
      </div>
      <div class="six columns favorites" id="favorites">
        <h4>currently</h4>
        <br />
        <ul>
          <li>
            |
            <a target="_blank" href="https://cosyll.org">cosyll</a>, a platform
            for sharing higher education class materials.
          </li>
          <li>
            |
            <a target="_blank" href="https://dialradio.live">dial radio</a>, a
            worldwide playlist broadcasting station.
          </li>
          <li>
            |
            <a target="_blank" href="https://tldr.gestellt.net">tldr.science</a>, making research short and sweet.
          </li>
          <li>
            | <a target="_blank" href="https://tkanape.studio">kanapé</a>,
            a creative collective of friends.
          </li>
          <li>
            |
            <a target="_blank" href="https://carnet.enframed.net/">carnet</a>,
            some loose notes.
          </li>
          <li>
            | <a target="_blank" href="https://enframed.net">enframed</a>,
            miscelleaneous webpages.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
