<script>
  export let data;
</script>

<div class="frame">
  <h1>
    <a href="/drawings">
      {data.slug}
    </a>
  </h1>
  {#each data.stills as still}
    <img src={`/drawings/stills/${data.slug}/${still}`} alt="" srcset="" />
  {/each}
</div>

<style>
  .frame {
    width: 90%;
    margin: auto;
    padding: 50px;
  }

  h1 {
    font-family: EdwardPro-Normal;
    margin-left: 2px;
  }

  img {
    width: 30%;
    padding: 2px;
    margin: 2px;
    border: 1px solid var(--fg-color);
  }
</style>
