<script>
  import Header from "../../../components/+header.svelte";
  import Navigation from "../../../components/+navigation.svelte";
  import Past from "../../../components/sketches/past.svelte"
  export let data;
</script>

<Past />
<div class="container">
  <Header
    title={data.project.title}
    subtitle={data.project.subtitle}
    target="/"
  />
  <Navigation current="" />
  <div class="content">
    <div class="row">
      <div class="content">
        <img
          class="six columns illustration"
          src={`/images/${data.project.image}`}
          alt="project illustration"
        />
        <div class="five columns">
          <div class="short">{data.project.short}</div>
          <div class="role">
            {#each data.project.role as r}
              <span>{r}</span>
              <br />
            {/each}
          </div>

          <hr />
          <br />
          <br />

          <div class="row long">
            {#each data.project.long as l}
              <p>{l}</p>
            {/each}
          </div>
        </div>
        <div class="links">
          {#each data.project.links as l}
            <a href={l.url} target="_blank">{l.name}</a>
            <br />
          {/each}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .illustration {
    width: 50%;
    height: auto;
    float: left;
    padding: 1%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: solid #aaaaaa 1px;
  }

  .short {
    margin-bottom: 6.25%;
  }

  .role {
    text-align: right;
    font-weight: bold;
  }

  .long {
    font-size: 1.2em;
    width: 100%;
    margin-top: 5%;
  }

  .links {
    margin-top: 5%;
    float: right;
    text-align: right;
  }

  @media only screen and (max-width: 640px),
    only screen and (max-width: 667px),
    only screen and (max-width: 480px) and (orientation: portrait) {

    img {
      width: 98%;
      padding: 0;
      margin-top: 5%;
      margin-bottom: 10%;
      border: none;
    }
  }
</style>
