.header {
    order: 1;
}

.education{
    order: 2;
}

.work {
    order: 3;
}

.publications {
    order: 4;
}

.talks {
    order: 7;
}

.grants {
    order: 8;
}

.software {
    order: 10;
}

.technologies {
    order: 11;
}

.exhibitions{
    order: 5;
}

.courses{
    order: 9;
}
