@import url("https://rsms.me/inter/inter.css");

body {
  margin: 0 30%;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a{
  color: black;
}

@media screen and (max-width: 1440px) {
  body {
    margin: 0 15%;
  }
}

@media screen and (max-width: 1920px) {
  body {
    margin: 0 22.5%;
  }
}

@media screen and (max-width: 992px) {
  body {
    margin: 0 5%;
  }

  .institution,
  .publication,
  .location {
    width: 20%;
  }
}

.pagebreak {
  page-break-before: always;
}

h1 {
  margin-bottom: 0;
}
.section.header {
  align-content: flex-start;
  align-items: baseline;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-flow: column;
}

.info a {
  display: block;
  text-align: right;
  color: black;
  margin-bottom: 10px;
}
.section {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.writeup{
  flex-direction: column;
}

.writeup ul{
  margin: auto;
  width: 70%;
  margin-top: 24px;
  margin-bottom: 24px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.writeup li {
  list-style: none;
}

div h2 {
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid black;
}

table {
  table-layout: fixed;
  page-break-inside: auto;
}

table,
tr {
  width: 100%;
  page-break-inside: avoid;
}

tr i {
  font-size: 0.85em;
}

td {
  padding-bottom: 1rem;
  vertical-align: baseline;
}

td b,
td.title {
  font-weight: 500;
}

td.title{
  width: 20%;
}

.dl {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.date {
  width: 20%;
  text-align: left;
}

.date-sm {
  width: 8%;
  text-align: left;
}

.link{
  width: 5%;
  text-align: right;
}

.link a {
  text-decoration: none;
  font-style: none;
}

.link a:visited{
  color: black;
}

.link a:hover{
  font-weight: bold;
}

.description{
  width: 35%;
  font-size: 0.85em;
  padding: 5px;
}

.tech-stack{
  display: flex;
  justify-content: start;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.tech-stack div{
  padding: 4px;
  border-radius: 4px;
  background-color: #d1d5db;
  color: #111827;
}

.client{
  width: 20%;
  font-size: 0.85em;
  text-align: right;
}

.pub-title{
  width: 50%;
}

.institution,
.publication,
.location {
  text-align: right;
  width: 25%;
}

@media screen and (max-width: 992px) {
  tr i {
    font-size: 0.8em;
  }

  .institution,
  .publication,
  .location,
  .date {
    width: 22%;
    font-size: 0.8em;
  }

  .dl {
    display: none;
  }

  h1 {
    font-size: 1.6em;
  }

  .info {
    font-size: 0.85em;
  }
}

.courses b {
  display: block;
}

@media print {
   table { page-break-inside:auto }
   tr    { page-break-inside:avoid; page-break-after:auto }

  /* PRINT MARGINS */
  body {
    width: 90%;
    margin: 10% auto 15% auto;
  }

  .dl {
    display: none;
  }

  .institution,
  .publication,
  .location {
    width: 25%;
    font-size: 0.8em;
  }

  .section h2 {
    margin-bottom: 1.5rem;
  }

  .exhibitions tr {
    margin: 0;
  }
}


.none {
  display: none;
}
