<script>
  import { PUBLIC_BUILD_DATE } from "$env/static/public";
</script>

<footer>
  <div class="colophon">
    <release> <a href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">cc by-nc 4.0</a> </release>
    <div>
      <a
        class="source"
        href="https://tldr.nettime.org/@periode"
        target="_blank"
        rel="noopener noreferrer">@periode</a
      >
      -
      <a class="source" href="mailto:pierre@enframed.net">e-mail</a>
    </div>
    <a
      class="source"
      href="http://gitlab.com/periode/website"
      target="_blank"
      rel="noopener noreferrer">source code</a
    >
  </div>
  {#if PUBLIC_BUILD_DATE}
  <div class="last-updated">
    last updated on {PUBLIC_BUILD_DATE}
  </div>
  {/if}
</footer>

<style>
  footer {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: EdwardPro-ExtraLight;
    color: rgb(51, 51, 51);
    height: 100px;
    width: 100%;
    text-align: center;

    margin-top: 50px;

    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }

  .colophon {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .last-updated {
    margin-bottom: 15px;
  }

  .source {
    color: rgb(100, 100, 100);
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }

  @media only screen and (max-width: 640px),
    only screen and (max-width: 667px),
    only screen and (max-width: 480px) and (orientation: portrait) {
    footer {
      font-size: 0.8em;

      gap: 5px;
    }
  }
</style>
