<script>
    export let title;
    export let subtitle;
    export let target;
</script>

<div class="headline">
  <h1>
    <a href={target}>{title}</a>
  </h1>
  <p>{subtitle}</p>
</div>

<style>
  .headline {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 1.3em;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    border-top: 1px var(--fg-color) solid;

    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }

  .headline a {
    font-family: Ashbury;
  }

  .headline p {
    font-family: EdwardPro-ExtraLight;
    font-style: italic;

    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }

  @media only screen and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px) and (orientation: portrait) {
    .headline {
      font-size: 0.7em;
    }

    .headline p {
      font-size: 1.4em;
    }
  }

  h1 {
    font-family: Ashbury;
    font-size: 2.5em;
    margin-bottom: 5%;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }

  h1 a {
    text-decoration: none;
    color: var(--fg-color)
  }

  h1 a:hover {
    transition: opacity 1s ease-in-out;
  }
</style>
