<script>
  export let current;
</script>

<div class="row">
  <div class="navigation">
    <span class={`moment ${current == "past" ? "current" : ""}`}>
      {#if current == "past"}
        past
      {:else}
        <a class="other" href="/past">past</a>
      {/if}
    </span>
    <span class={`moment ${current == "present" ? "current" : ""}`}>
      {#if current == "present"}
        present
      {:else}
        <a class="other" href="/">present</a>
      {/if}
    </span>
    <span class={`moment ${current == "future" ? "current" : ""}`}>
      {#if current == "future"}
        future
      {:else}
        <a class="other" href="/future">future</a>
      {/if}
    </span>
  </div>
</div>

<style>
  .navigation {
    display: flex;
    font-family: EdwardPro-ExtraLight;
    font-size: 1.3em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }

  .navigation a {
    color: black;
  }

  .navigation .moment {
    margin: auto;
    justify-content: space-between;
    font-size: 1.3em;
    color: black;
    transition: all 0.5s ease-in-out;

    padding-left: 2%;
    padding-right: 2%;
  }

  .navigation .other {
    font-family: EdwardPro-ExtraLight;
    padding-left: 2%;
    padding-right: 2%;
    color: grey;
    text-decoration: none;
  }

  .navigation .other:hover {
    color: black;
    text-decoration: none;
  }

  .navigation .current {
    font-family: EdwardPro-Normal;
    cursor: default;
  }

  @media only screen and (max-width: 640px),
    only screen and (max-width: 667px),
    only screen and (max-width: 480px) and (orientation: portrait) {
    .navigation {
      font-size: 1em;
      transition: opacity 1s ease-in-out;
      -webkit-transition: opacity 1s ease-in-out;
    }
  }
</style>
