<script>
  export let project;
  let expand = project.status == "ongoing";
</script>

<a
  class={`project ${project.collaboration}`}
  href={`/past/${project.slug}`}
  on:mouseenter={() => {
    if(project.status == "ongoing") return; expand = true;
  }}
  on:mouseleave={() => {
    if(project.status == "ongoing") return; expand = false;
  }}
>
  <div class="info">
    <div class={`title ${project.status}`}>{project.title}</div>
    <div class="date">{project.date}</div>
  </div>

  <div class="row twelve columns">
    <div class={`blurb twelve columns ${expand ? "expanded" : ""}`}>
      {project.blurb}
    </div>

    <!-- {#if expand}
      <div class="snapshot">
        <img
          src={`/images/${project.image}`}
          alt="illustration of the project"
        />
      </div>
    {/if} -->
  </div>

  <div class="tags">
    <span class="genre">
      {#each project.tags.genre as g}
        <span>{g}</span>
      {/each}
    </span>
    <span class="tech">
      {#each project.tags.tech as t}
        <span>{t}</span>
      {/each}
    </span>
  </div>
</a>

<style>
  a{
    text-decoration: none;
  }
  a:hover {
    color: var(--fg-color);
  }

  .project {
    position: relative;
    width: 100%;
    height: min-content;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-content: space-between;
    font-weight: normal;
  }

  .info{
    display: flex;
    justify-content: space-between;
  }

  .solo {
    border: 4px solid rgb(230, 240, 250);
  }

  .solo .title {
    background-color: rgb(230, 240, 250);
  }

  .featured .blurb {
    width: 50%;
    margin: 0px;
  }

  .title {
    width: max-content;
    padding: 2px;
    padding-right: 20px;
    padding-left: 10px;
    
    font-weight: bold;
  }

  .ongoing {
    font-size: 1.2em;
  }

  .archived {
    font-size: 1.0em;
  }

  .date {
    font-size: 0.6em;
    text-decoration: none;
    padding: 5px;
    font-style: italic;
    text-align: right;
  }

  .blurb {
    margin: 10px;
    font-size: 0.8em;
    line-height: 1em;
    width:auto;
    background-color: transparent;
    height: 0;
    transition: height 0.3s linear;
    visibility: hidden;
  }

  .expanded {
    height: 30px;
    visibility: visible;
  }

  .solo .tech {
    background-color: rgb(230, 240, 250);
  }

  .collab {
    border: 4px solid rgb(255, 240, 212);
  }

  .collab .title,
  .collab .tech {
    background-color: rgb(255, 240, 212);
  }

  .tags {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;

    justify-content: space-between;
    text-decoration: none;
  }

  .date,
  .genre,
  .tech {
    font-size: 0.8em;
    text-decoration: none;
  }

  .genre,
  .tech {
    max-width: 45%;
    display: flex;
    gap: 20px;
    padding: 0 5px 0 5px;
  }

  .snapshot {
    width: 100%;
    transition: all 1s linear;
    display: flex;
    justify-content: center;
    opacity: 0.8;
  }

  /* .snapshot img {
    height: 200px;
    display: block;
    padding-top: 50px;
    padding-bottom: 80px;
  } */
</style>
