@import url('https://rsms.me/inter/inter.css');

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
}

@media screen and (max-width: 1440px){
    body {
        font-size: 1em;
    }
}

@media screen and (max-width: 1920px){
    body {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 992px){
    body{
        font-size: 1em;
    }
}

header,
main,
footer {
    padding: 2em;
}

@media screen and (max-width: 992px){
    header, main, footer{
        padding: 1em;
    }

    header{
        height: 100vh;
    }
}

header,
footer {
    display: flex;
    justify-content: space-between;
}

header{
    height: 90vh;
}

a {
    color: black;
}

p, h5{
    margin-top: 1em;
    line-height: 1.5em;
}

details{
    cursor: pointer;
}

summary, details ul{
    text-align: right;
}

details ul{
    font-weight: normal;
}

details li{
    list-style: none;
}

.web{
    display: block;
}

.pdf{
    display: none;
}


.right {
    text-align: right;
}

h3 {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 992px){
    h3{
        margin-top: 5rem;
        margin-bottom: 0rem;
    }
}

h4 {
    margin: 0;
}

h5 {
    margin-right: 1rem;
    font-size: 1em;
}

.selected-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin-top: 6rem;
    margin-bottom: 6rem;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
}

@media screen and (max-width: 992px){
    .item{
        height: auto;
    }
}

.item img {
    display: inline-flex;
    width: 47%;
    align-self: start;
    margin-bottom: 2rem;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 0em rgba(0, 0, 0, 0.2);
}

.row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.images{
    justify-content: space-between;
    max-width: 40%;
}

.column {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.column div {
    width: 100%;
}

@media screen and (max-width: 992px){
    .works .row{
        flex-direction: column;
    }

    .works .column{
        width: 100%;
    }

    .images{
        max-width: 100%;
    }

    .item img{
        width: 100%;
    }
}

.toc-holder {
    flex-wrap: nowrap;
    flex-direction: column;
    width: max-content;
}

.toc-holder h2{
    text-align: right;
}

@media screen and (max-width: 992px){
    .toc{
        margin-bottom: 0.5rem;
    }
}

.item-title {
    width: 100%;
    height: max-content;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 3rem;
    padding-bottom: 0.25rem;
    border-bottom: 3px solid black;
}

@media screen and (max-width: 992px){
    .item-title{
        flex-direction: column;
        font-size: 1.75em;
        width: 100%;
    }
}

.institution, .course-tagline{
    height: max-content;
    padding-bottom: 1rem;
}

.course-tagline {
    font-style: italic;
    max-width: 50%;
    text-align: right;
}

.work-tagline{
    font-style: italic;
    margin-bottom: 4rem;
}

.item-description {
    display: flex;
    justify-content: space-between;   
}

.work-description{
    display: block;
    line-height: 1.5em;
}

.role{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 992px){
    .item-description{
        flex-direction: column;
        width: 100%;
    }
}

.question {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px){
    .question{
        width: 100%;
    }
}
.nav-link{
    float: right;
    font-weight: bold;
}

.links{
    display: inline;
    margin:0;
    padding:0;

    margin-top: 2rem;
}

.links li, .course-link{
    display: inline;
    margin-right: 1rem;
    list-style-type: none;
    border: 2px solid black;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.links a, .course-link{
    text-decoration: none;
}

.links li, .course-link{
    transition: 0.1s linear all;
}

.links li:hover, .course-link:hover{
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.links a::after, .course-link::after{
    content: ' ➫';
}

nav a:hover{
    font-weight:600;
}

@media print {
    @page {
        size: landscape;
    }
    body {
        font-size: 0.9em;
    }

    h3 {
        page-break-before: always;
        page-break-after: always;
        margin-bottom: 1rem;
    }

    p{
        font-size: 0.85em;
    }

    .web{
        display: none;
    }

    .pdf{
        display: block;
    }

    .item img{
        width: 44%;
        margin: 0;
    }

    .selected-container {
        page-break-after: always;
        page-break-inside: avoid;
    }

    .item {
        margin: 0;
        page-break-before: always;
    }
    
    .item-title{
        margin:0;
    }

    .role{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
