@font-face{
	font-family: Inconsolata;
	src: url("../../fonts/EdwardPro-Normal.otf");
}

body {
	text-align: center;
	font-family: Inconsolata;
	width: 100%;
	height: 100%;
}

a{
	color: black;
	font-weight: bold;
}

#answer{
	font-size: 72px;
	padding:50px;
}

footer{
	padding: 50px;
}

button{
	border: solid 1px;
	line-height: 5px;
}
