.proposals {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .proposals li {
    width: 100%;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.25em;

    display: flex;
    flex-direction: column;
  }

  .right {
    align-items: end;
  }

  .proposal-header,
  .proposal-content {
    width: 55%;
  }

  .proposal-header {
	text-align: left;
  }

  .proposal-content {
    display: flex;
    flex-direction: column;
  }

  .proposals li p {
    margin-top: 20px;
    font-weight: initial;
    font-size: 0.9em;
  }

  .statement {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .proposal-prompt {
    color: white;

    padding: 40px;
    text-align: center;
    width: 30%;
    font-size: 0.8em;

    transition: all 0.5s linear;
  }

  .proposal-prompt:hover {
    color: black;
  }

  .container a {
    display: contents;
  }

  @media (max-width: 480px) and (orientation: portrait) {
    .statement {
      flex-direction: column;
    }

    .right .statement {
      flex-direction: column-reverse;
    }

	.proposals {
		margin-top: 100px;
	}

    .proposals li {
      font-size: 1.5em;
      width: 100%;
    }

	.proposal-header,
    .statement,
    .proposal-content {
      width: 100%;
    }
  }
