@font-face{
	font-family: EdwardPro-Normal;
	src: url("fonts/EdwardPro-Normal.otf");
}

@font-face{
	font-family: EdwardPro-ExtraLight;
	src: url("fonts/EdwardPro-ExtraLight.otf");
}

body {
  width: 90%;
  margin: auto;
}

h1{
  font-family: EdwardPro-Normal;
  margin-left: 2px;
}

img{
  width: 30%;
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
}

#back{
  position: fixed;
  float: right;
  top: 6%;
  right: 3%;
  padding: 3px;
  background-color: black;
  font-family: EdwardPro-ExtraLight;
  color: white;
}

a{
  color: white;
}
