@font-face{
	font-family: Ashbury;
	font-display: swap;
	src: url("/fonts/AshburyMed.otf");
}

@font-face{
	font-family: EdwardPro-Normal;
	font-display: swap;
	src: url("/fonts/EdwardPro-Normal.otf");
}

@font-face{
	font-family: EdwardPro-ExtraLight;
	font-display: swap;
	src: url("/fonts/EdwardPro-ExtraLight.otf");
}

:root{
	--fg-color: rgb(51, 51, 51);
	--bg-color: rgb(250, 250, 247);
}

body {
	transition: background-color 0.3s linear;
	background-color: var(--bg-color);
	color: var(--fg-color);
	overflow-x: hidden;
}

::selection {
	background-color: #FDE767;
	color: var(--fg-color);
}

.left{
	float: left;
}

.right{
	float: right;
}

.statement{
	display: flex;
}

h4{
	margin-top: 0%;
	font-size: 1.5em;
	font-family: EdwardPro-Normal;
}

a{
	color:var(--fg-color);
	font-weight: bold;
}

a:hover{
	color: rgb(220, 110, 6);
	text-decoration: none;
}

hr{
	color: var(--fg-color);
	background-color: white;
	height: 4px;
	border-left: none;
	border-bottom: 1px solid var(--fg-color);
	border-top: 1px dashed var(--fg-color);
	margin-bottom: 5%;
}

.content{
	font-family: EdwardPro-ExtraLight;
	font-size: 1.1em;
	text-align: justify;
	line-height: 1.35;
	margin-top: 5%;

	-webkit-transition: opacity 1s ease-in-out;
}

@media only screen and (max-width: 640px), only screen and (max-width: 667px), only screen and (max-width: 480px) and (orientation : portrait) {
	.content{
	  font-size: 0.8em;
	  width: 100%;
	  text-align: justify;
	  margin-top: 10%;
	}
}

.incipit{
	padding-left: 20px;
	padding-right: 30px;
	border-right: 2px solid var(--fg-color);
}

.preamble{
	padding-left: 20px;
	padding-right: 30px;
	border-left: 2px solid var(--fg-color);
}

.invisible{
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 2px solid var(--fg-color);
	transition: color 0.5s linear;
	cursor: context-menu;
}

.invisible:hover{
	color: var(--fg-color);
}

@media only screen and (max-width: 640px), only screen and (max-width: 667px), only screen and (max-width: 480px) and (orientation : portrait) {
  
	.preamble{
		padding: 0;
		margin: 0;
	}
  
	#incipit, #favorites{
	  width:100%;
	  font-size: 1.3em;
	  padding: 0;
	  margin-bottom: 50px;
	  border: none;
	}
  
	.invisible{
	  display: none;
	}
}	

.favorites{
	float: right;
	margin: 0;
	padding-left: 20px;
	padding-right: 10px;
	border-left: 2px solid var(--fg-color);
}

.favorites li{
	margin-bottom: 0;
	list-style-type: none;
}

@media only screen and (max-width: 640px), only screen and (max-width: 667px), only screen and (max-width: 480px) and (orientation : portrait) {
	.favorites{
	  float: left;
	  border:none;
	}
  
	.invisible{
	  display: none;
	}  
}
