@font-face{
	font-family: Ashbury;
	src: url("fonts/AshburyMed.otf");
}

@font-face{
	font-family: EdwardPro-Normal;
	src: url("fonts/EdwardPro-Normal.otf");
}

@font-face{
	font-family: EdwardPro-ExtraLight;
	src: url("fonts/EdwardPro-ExtraLight.otf");
}

body {

}

canvas{
	position: absolute;
	top: 0;
	left: 0;
}

#container{
	margin-top: 200px;
	margin-left: 25%;
	margin-right: 25%;
}

#mainTitle{
	position: relative;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

#mainText {
	float:left;
	font-family: EdwardPro-Normal;
	/*text-indent: 7.5%;*/
	font-size: 1.1em;
	text-align: justify;
	line-height: 1.25;
	padding-left: 1%;
}



#list{
	list-style-type: none;
}

.output{
	background-color: black;
	color: white;
}

.title{
	font-family: EdwardPro-Normal;
}

#litterature{
	font-family: EdwardPro-Normal;
	font-size: 1.1em;
	text-align: justify;
	line-height: 1.25;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
}

.thumbnail{
	width: 100%;
	height: 100%;
	border: solid 2px black;
	padding: 1%;
	background-color: rgb(230, 230, 230);
	margin-bottom: 4%;
}

.dash{
	margin: 2%;
}

#mainTitle p {
	font-family: EdwardPro-ExtraLight;
	font-style: italic;
}

h1 {
	font-family: Ashbury;
	font-size: 2.5em;
}

a {
	color: black;
}

h1 a {
	color: black;
	text-decoration: none;
}

#headerImg {
	background-image: url("data/header_temp_cropped.png");
	position: relative;
	margin-left: 0;
	height: 400px;
	width: 100%;
}

#embeddedVideo{
	position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
}

footer{
	float: right;
	font-family: Ashbury;
	color: rgb(150, 150, 150);
	margin-top: 10%;
	margin-right: 2%;
	margin-bottom: 2%;
	width: 100%;
	text-align: right;
	font-size: 14px;
	font-style: italic;
}
