ul{
  font-family: EdwardPro-ExtraLight;
  list-style: none;
  padding-left: 0%;
}

li{
  margin-top: 10%;
  margin-bottom: 15%;
  /*background-color: rgb(240, 240, 240);*/

}

.single_talk{
  margin-top: 4%;
  padding-left: 0;
}

.listing{
    padding-left: 1%;
    padding-right: 1%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.title{
  font-family: EdwardPro-Normal;
  font-size: 1.2em;
  color: black;
}

.date, .location, li a{
  font-family: EdwardPro-Normal;

  /*background-color: rgb(240, 240, 240);*/
}

.date, .location{
  color: white;
  background-color: black;
}

.date{
  padding: 0.5em;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

#mainText, #mainTitle{
  font-family: EdwardPro-ExtraLight;
}

#mainTitle p {
  font-size: 1.2em;
}

#mainTitle h1{
  margin-bottom: 1em;
}

#mainTitle h1 a {
  font-family: Ashbury, serif;
  text-decoration: underline;
}

#mainText .intro{
  font-style: italic;
  font-size: 0.95em;
}

.emphasis{
  font-family: EdwardPro-ExtraLight;
  background-color: black;
  color: white;
  padding: 2px;
}

#mainText .highlight{
  font-family: EdwardPro-Normal;
  font-size: 1.3em;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#mainText .quote{
  font-size: 0.9em;
  font-style: italic;
  padding-left: 20px;
  padding-right: 30px;
}

.location{
  float: right;
  font-style: italic;
  padding-right: 1%;
  padding-left: 1%;
  border-bottom: 1px solid black;
  /*border-left: 1px solid black;*/
  border-right: 1px solid black;
}

table{
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}

th{
  text-align: center;
}

th, td, tr{
  border: 1px solid black;
  padding: 3px;
}

img{
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 80%;
  border: 2px solid #ddd;
  padding: 10px;
}

li{
  margin: 0;
  padding-left: 20px;
}
