@font-face{
	font-family: Cooper;
	src: url("fonts/cooper.otf");
}

@font-face{
	font-family: Cooper-Bold;
	src: url("fonts/cooper-bold.otf");
}

body {
	font-family: Cooper;
	text-align: center;
}

canvas{
	z-index: -1;
}

.liens{
	margin-top: 3%;
	text-align: center;
}

.titre{
	text-decoration: none;
	font-size: 1.35em;
}

.important{
	font-family: Cooper-Bold;
}

.soustitre{
	position: relative;

	margin-left: 25%;
	margin-right: 25%;
}

.texte{
	margin-top: 5%;
	padding:1%;
	margin-left: 26%;
	margin-right: 26%;
	text-align: justify;
}

u{
	font-size: 1.15em;
}

p{
	color: black;
	position: absolute;
}

a{
	color:black;
}