<script>
  import Header from "../../components/+header.svelte";
  import Navigation from "../../components/+navigation.svelte";
  import Story from "../../components/sketches/story.svelte";

  const wave = 1500;
  let excerpt;
  let departing = false;

  const changeDirection = () => {
    if (departing) {
      excerpt.style.opacity = 0;

      setTimeout(() => {
        departing = false;
      }, wave);
    } else {
      departing = true;

      setTimeout(() => {
        excerpt.style.opacity = 1;
      }, wave);
    }
  };
</script>

<svelte:head>
  <title>pierre | about</title>
</svelte:head>

<Story />
<div class="container">
  <Header title="a digital display case" subtitle="about the writer" target="/" />
  <Navigation current="" />

  <div class="content">
    <div class="row">
      <div class="six columns incipit" id="incipit">
        <p>
          i'm an educator, programmer and artist from the <a
            target="_blank"
            href="https://www.openstreetmap.org/note/new?lat=44.8632&lon=-0.5999#map=13/44.8666/-0.5685&layers=N"
            >northern part</a
          >
          of bordeaux, france, and living in the
          <a
            target="_blank"
            href="https://www.openstreetmap.org/?mlat=52.50846&mlon=13.46155#map=17/52.50846/13.46155&layers=N"
            >eastern part</a
          > of berlin, germany.
        </p>
        <p>
          right now, most of my time is spent between lecturing
          interactive media arts at <a
            target="_blank"
            href="https://www.nyu.edu/berlin/academics/faculty.html"
            >nyu berlin</a
          >, digital sociology at
          <a
            target="_blank"
            href="http://formation.sciences-po.fr/enseignement/2019/bexp/23a00"
            >sciences po paris</a
          >, and researching media philosophy at the <a target="_blank" href="https://hfg-karlsruhe.de/">hfg karlsruhe</a>.
        </p>
        <p>
          throughout the last few years, i worked in/for/with art galleries,
          magazines, international game publishers, independent game developers,
          contemporary museums, municipal offices, private universities, public
          highschools, theater companies, media startups, broadcasting
          companies, electronic music acts, and had a radio show called <a
            target="_blank"
            href="https://www.mixcloud.com/periode/">regular expressions</a
          >.
        </p>
        <p>
          if you'd prefer a more fine-grained and formal account, you can
          look at a <a target="_blank" href="https://cv.pierredepaz.net"
            >resume</a
          >
          or a
          <a target="_blank" href="https://portfolio.pierredepaz.net"
            >portfolio</a
          >.
        </p>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <span style="text-align:right; float: right">
        <span
          class="emma"
          role="button"
          tabindex=""
          on:click={changeDirection}
          on:keydown={changeDirection}
        >
          ~~~
        </span>
      </span>
    </div>
  </div>
</div>

<div
  class={`shore ${departing ? "departing" : ""}`}
  role="button"
  tabindex="0"
  on:click={changeDirection}
  on:keydown={changeDirection}
>
  <div bind:this={excerpt} class={`excerpt`}>
    n'avaient-ils rien d'autre chose a se dire? leurs yeux pourtant étaient
    pleins d'une causerie plus sérieuse; et, tandis qu'ils s'efforçaient à
    trouver des phrases banales, ils sentaient une même langueur les envahir
    tous les deux; c'était comme un murmure de l'âme, profond, continu, qui
    dominait celui des voix. surpris d'étonnement à cette suavité nouvelle, ils
    ne songeaient pas à s'en raconter la sensation ou à en découvrir la cause.
    les bonheurs futurs, comme les rivages des tropiques, projettent sur
    l'immensité qui les précède, leurs mollesses natales, une brise parfumée, et
    l'on s'assoupit dans cet enivrement sans même s'inquiéter de l'horizon que
    l'on n'aperçoit pas.
  </div>
</div>

<style>
  .emma:hover {
    cursor: help;
  }

  .shore {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 1.2s linear;
    pointer-events: none;
    font-family: "EdwardPro-ExtraLight";
    line-height: 1.7;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .excerpt {
    opacity: 0;
    transition: opacity 0.8s linear;
    width: 80%;
  }

  .departing {
    pointer-events: all;
    opacity: 1;
  }
</style>
