<script>
  import Header from "../../components/+header.svelte";
  import Navigation from "../../components/+navigation.svelte";
  import Project from "../../components/project.svelte";
  import Past from "../../components/sketches/past.svelte";
  export let data;
</script>

<svelte:head>
  <title>pierre depaz | past</title>
</svelte:head>

<Past />
<div class="container">
  <Header
    title="a digital display case"
    subtitle="of things i've made"
    target="/"
  />
  <Navigation current="past" />
  <div class="content">
    <div class="row">
      <div class="six columns incipit" style="text-align: justify" id="incipit">
        <p>here is a list of the projects i have had a part in realizing.</p>
        <p>
          some of them were stitched together in a couple of hours, others had
          me work for several months in windowless studios. color coding
          distinguishes between projects i made <span class="solo">
            on my own</span
          >
          or <span class="collab">with others</span>. as i grow up, though, i
          realize that everything is always <i>somehow</i> made collaboratively.
        </p>
        <p>
          <a href="/drawings">drawings</a> are on a separate page.
        </p>
      </div>
      <div class="six columns invisible">
        one thing that foreigners, computers and poets have in common is that
        they make unexpected linguistic associations.
      </div>
    </div>
    <div class="row">
      <div class="projects">
        <div class="project-section">
          <h4>ongoing</h4>
          <ul class="ongoing">
            {#each data.ongoing as project}
              <li>
                <Project {project} />
              </li>
            {/each}
          </ul>
        </div>

        <div class="project-section">
          <h4>archived</h4>
          <ul class="archived">
            {#each data.archived as project}
              <li>
                <Project {project} />
              </li>
            {/each}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  ul {
    padding-left: 0px;
    margin-top: 10px;
  }

  li {
    font-family: EdwardPro-ExtraLight;
    background-color: transparent;
    position: relative;

    transition: background-color 0.15s ease-in-out;
    -webkit-transition: background-color 0.15s ease-in-out;
  }

  .projects {
    list-style-type: none;
    font-size: 1.2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 30px;
  }

  .projects li {
    font-weight: normal;
    font-family: "EdwardPro-ExtraLight";

    display: flex;
    align-content: space-between;
    text-decoration: none;
  }

  .archived {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .archived li {
    width: auto;
  }

  .project-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .solo {
    border: 4px solid rgb(230, 240, 250);
  }

  p .solo {
    background-color: rgb(230, 240, 250);
  }

  .collab {
    border: 4px solid rgb(255, 240, 212);
  }

  p .collab {
    background-color: rgb(255, 240, 212);
  }

  @media only screen and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px) and (orientation: portrait) {
    .projects {
      padding: 0;
    }

    .projects li {
      flex-basis: 100%;
    }
  }
</style>
