@font-face{
	font-family: hira;
	font-display: swap;
    src: url(hira.otf);
}

body{
	background-image: url("visual.jpg");
	color: white;
	font-family: hira;
	text-align: center;
	background-color: black;
}

.noBlack{
	background-color: transparent;
}

a{
	color:white;
	background-color: black;
	padding:10px;
}
