<script>
  import P5 from "p5-svelte/P5.svelte";

  const sketch = (p5) => {
    var dots = [];
    var x, y, xc, yc;
    var start_x, start_y;

    var points = [];
    var rad;
    var step = 0;
    var step_inc = 0.01;

    var col_rect = [];
    var col_point = [];

    var s = 1.5;
    var r = 1;

    var square = false;
    
      p5.setup = () => {
        var cnv = p5.createCanvas(p5.windowWidth, 200);

        start_x = p5.width * 0.45;
        x = start_x;
        start_y = p5.height * 0.2;
        y = start_y;

        rad = p5.height * 0.25;

        addDotSquare();
        addDotCircle();
        setInterval(addDotSquare, 10);
        setInterval(addDotCircle, 3);
      }

      p5.draw = () => {
        p5.background(255);
        p5.stroke(0);
        p5.noStroke();

        if (square) {
            p5.rectMode(p5.CENTER);
          for (var i = 0; i < dots.length; i++) {
            p5.fill(col_rect[i]);
            p5.rect(dots[i].x, dots[i].y, r * 2, r);
          }
        } else {
          for (var i = 0; i < points.length; i++) {
            p5.fill(col_point[i]);
            p5.rect(points[i].x, points[i].y, r, r);
          }
        }

        p5.rectMode(p5.CORNER);
        p5.fill(255);
        p5.rect(p5.width * 0.45, 0, -200, 200);
        p5.rect(p5.width * 0.55, 0, 200, 200);
      }

      function addDotSquare() {
        var d = p5.createVector(x, y);

        if (x > p5.width * 0.55) {
          y += 2;
          // x = start_x;
          // x = width*0.55;
          dots.push(d);
          s *= -1;
        } else if (x < p5.width * 0.45) {
          y += 2;
          // x = start_x;
          // x = width*0.45;
          dots.push(d);
          s *= -1;
        } else if (y <= start_y + p5.width * 0.1) {
          dots.push(d);
        }

        if (p5.mouseY < 200) {
          if (p5.noise(p5.millis() * 0.01) > p5.map(p5.mouseX, 0, p5.width, 0, 0.5)) {
            col_rect.push(0);
          } else {
            col_rect.push(255);
          }
        } else {
          col_rect.push(0);
        }

        x += s;
      }

      function addDotCircle() {
        step += step_inc;

        if (step > p5.TWO_PI || step < 0) {
          rad -= 2;
          step_inc *= -1;
          // step = 0;
        }

        xc = p5.width * 0.5 + p5.cos(step) * rad;
        yc = p5.height * 0.5 + p5.sin(step) * rad;

        var p = p5.createVector(xc, yc);
        points.push(p);

        if (p5.mouseY < 200) {
          if (p5.noise(p5.millis() * 0.01) > p5.map(p5.mouseX, 0, p5.width, 0, 0.5)) {
            col_point.push(0);
          } else {
            col_point.push(255);
          }
        } else {
          col_point.push(0);
        }
      }

      p5.mousePressed = () => {
        square = !square;
      }
    };
  
</script>

<div style="height: 200px">
  <P5 {sketch} />
</div>
