<script>
  import P5 from "p5-svelte/P5.svelte";

  const sketch = (p5) => {
    let startTime;
    let characters = [];
    let meaning = " HEXAGRAM  FOR  REVOLUTION ";

    let cnv;

    let fontSize = 24;
    let charWidth = 24;
    let charHeight = 30;
    let rows, columns;
    let sourceColor, targetColor;
    let yOffset = 15;

    let isLegend = false;

    p5.setup = () => {
      cnv = p5.createCanvas(p5.windowWidth, 200);
      sourceColor = 255;
      targetColor = 255;

      rows = Math.round(cnv.height / charHeight);
      columns = Math.round(cnv.width / charWidth);

      characters = generateIChing();

      startTime = p5.millis();
      p5.textSize(fontSize);
      p5.textFont("EdwardPro-Light");
      p5.fill(0);
      p5.noStroke();
    };

    p5.draw = () => {
      p5.background(250, 250, 248);

      let i = 0;
      for (let x = 0; x < columns; x++) {
        for (let y = 0; y < rows; y++) {
          i++;

          if (
            p5.mouseY < 200 &&
            p5.dist(p5.mouseX, p5.mouseY, x * charWidth, y * charHeight) <
              200 &&
            meaning.indexOf(characters[i]) == -1
          ) {
            if (
              Math.random() <
              p5.map(
                p5.dist(p5.mouseX, p5.mouseY, x * charWidth, y * charHeight),
                0,
                400,
                1,
                0
              )
            ) {
              //-- start picking at random until you hit the right one

              if (
                x > 2 &&
                x < columns - 2 &&
                p5.dist(p5.mouseX, p5.mouseY, x * charWidth, y * charHeight) <
                  15 &&
                x % Math.floor(columns / meaning.length) == 0 &&
                y == 3
              ) {
                characters[i] =
                  meaning[
                    Math.floor(p5.map(x, 1, columns - 2.5, 0, meaning.length))
                  ];
              } else if (characters[i] != "䷰") {
                characters[i] = String.fromCharCode(
                  19904 + Math.floor(Math.random() * 63)
                );
              }
            }
          }

          if (!isLegend) {
            if (characters[i] == "䷰" || meaning.indexOf(characters[i]) > -1) {
              p5.fill(0);
            } else {
              p5.fill(140);
            }
            p5.text(characters[i], x * charWidth, y * charHeight + yOffset);
          } else {
            if (meaning.indexOf(characters[i]) > -1) {
              p5.fill(0);
            } else if (characters[i] == "䷰") {
              p5.fill(140);
            } else {
              p5.fill(210);
            }
            p5.text(characters[i], x * charWidth, y * charHeight + yOffset);
            // if(meaning.indexOf(characters[i]) > -1){
            // 	text(characters[i], x*charWidth, y*charHeight + yOffset)
            // }
          }
        }
      }
    };

    function generateIChing() {
      let temp = [];
      while (temp.length < columns * rows) {
        temp.push(String.fromCharCode(19904 + Math.floor(Math.random() * 63)));
      }

      return temp;
    }
  };
</script>

<div style="height: 200px">
  <P5 {sketch} />
</div>
