<script>
  import P5 from "p5-svelte/P5.svelte";

  const sketch = (p5) => {
    var squares = [];
    var squareNum;
    let first;
    let second;
    var s;

    p5.setup = () => {
      var cnv = p5.createCanvas(p5.windowWidth, 200);

      squareNum = 1200;
      reset();

      first = p5.floor(Math.random() * squares.length);
      second = pickRand(first);

      // setInterval(reset, 10000);
    };

    p5.draw = () => {
      p5.background(250, 250, 248);
      p5.fill(255);
      for (var i = squares.length - 1; i >= 0; i--) {
        squares[i].display();
        if (
          p5.dist(squares[i].getPos().x, squares[i].getPos().y, p5.mouseX, p5.mouseY) <
            80 &&
          squares[i].canMove
        ) {
          squares[i].grow();
        } else {
          squares[i].shrink();
        }
      }
    };

    function mouseReleased() {
      reset();
    }

    function reset() {
      squares = [];
      var c1 = p5.color(
        Math.random() * 80 + 190,
        Math.random() * 80 + 190,
        Math.random() * 80 + 190,
        150
      );
      var c2 = p5.color(
        Math.random() * 80 + 190,
        Math.random() * 80 + 190,
        Math.random() * 80 + 190,
        150
      );
      for (var i = 0; i < squareNum; i++) {
        // var c1 = color(Math.random()*80+190, Math.random()*80+190, Math.random()*80+190);
        // var c2 = color(Math.random()*80+190, Math.random()*80+190, Math.random()*80+190);
        c1 = 0;
        c2 = 0;
        if (i % 2 == 0) {
          //var c2 = color(250, 250, 220, 150);
          var p = p5.createVector(
            Math.random() * p5.width,
            Math.random() * p5.height * 0.95
          );
          s = new Square(c1, c2, p);
        } else {
          //var c2 = color(240, 240, 250, 150);
          var p = p5.createVector(
            Math.random() * p5.width,
            Math.random() * p5.height * 0.95
          );
          s = new Square(c2, c1, p);
        }
        squares.push(s);
      }

      first = p5.floor(Math.random() * squares.length);
      second = pickRand(first);
    }

    function pickRand(i) {
      var s = p5.floor(Math.random() * squares.length);
      var sc = p5.constrain(s, 0, squares.length - 1);
      return sc;
    }

    var Square = function (c1, c2, p) {
      this.xPos;
      this.yPos;
      this.col;
      this.inc;
      this.canMove = true;

      var xPos;
      var yPos;
      var col;
      var inc;
      var s;

      col = c1;
      
      xPos = p.x;
      yPos = p.y;
      inc = 2 * Math.random();

      //makes them go different directions
      let r = Math.random();
      if (r < 0.5) this.coef = -1;
      else this.coef = 1;

      this.s = p5.random(1);

      this.display = function () {
        p5.stroke(0);
        p5.line(
          xPos,
          yPos,
          p5.constrain(this.coef * this.s + xPos, xPos - 1000, xPos + 1000),
          p5.constrain(this.s + yPos, yPos - 1000, yPos + 1000)
        );
      };

      this.grow = function () {
        if (p5.abs(this.s) < 40) {
          if (this.coef == 1) {
            this.s *= inc * 1.0000000000000000000001;
          } else if (this.coef == -1) {
            this.s *= -inc * 1.0000000000000000000001;
          }
        }
      };

      this.shrink = function () {
        if (p5.abs(this.s) > 40) {
          if (this.coef == 1) {
            this.s *= inc * 0.00000000009;
          } else if (this.coef == -1) {
            this.s *= -inc * 0.00000000009;
          }
        }
      };

      this.getSize = function () {
        return s;
      };

      this.getPos = function () {
        var pos = p5.createVector(xPos, yPos);
        return pos;
      };
    };
  };
</script>

<div style="height: 200px">
  <P5 {sketch} />
</div>
