<script>
  import P5 from "p5-svelte/P5.svelte";
  import { checkMobile } from "$lib/helpers.js";

  export let nightly;
  let isNightly = false;
  $: isNightly = nightly;

  const sketch = (p5) => {
    var startTime;
    var timer = 2000;
    var points = [];
    var rad = [];
    var pointsNum = 50;
    var a;
    var b;
    var c;
    var lerpInc = 0.03333333;
    var lerpVal = 0;

    let background_color = p5.color(250, 250, 248);
    let target_color = p5.color(51, 51, 51);

    p5.setup = () => {
      var cnv = p5.createCanvas(p5.windowWidth, 200);

      startTime = p5.millis();

      //array of points
      for (var i = 0; i < pointsNum; i++) {
        points[i] = p5.createVector(
          Math.random() * p5.width,
          Math.random() * p5.height
        );
        rad[i] = Math.random() * 5 + 1;
      }

      a = p5.createVector(points[0].x, points[0].y);
      b = a;
      c = p5.createVector(points[1].x, points[1].y);
    };

    p5.draw = () => {
      if (isNightly) target_color = p5.color(51, 51, 51);
      else target_color = p5.color(250, 250, 248);
      p5.background(background_color);

      p5.strokeWeight(1);
      p5.stroke(50);
      p5.noFill();

      if (background_color !== target_color)
        background_color = p5.lerpColor(background_color, target_color, 0.13);

      for (var i = 0; i < pointsNum; i++) {
        p5.ellipse(points[i].x, points[i].y, rad[i], rad[i]);
      }

      lerpVal += lerpInc;
      if (lerpVal < 1) {
        //b extends towards c
        b.x = p5.lerp(a.x, c.x, lerpVal);
        b.y = p5.lerp(a.y, c.y, lerpVal);
      } else if (lerpVal < 2) {
        //a extends towards b
        a.x = p5.lerp(a.x, b.x, lerpVal - 1);
        a.y = p5.lerp(a.y, b.y, lerpVal - 1);
      } else {
        changePoint();
      }

      p5.line(a.x, a.y, b.x, b.y);

      if (!checkMobile()) {
        for (var i = 0; i < pointsNum; i++) {
          p5.stroke(200 - 100 * (i / pointsNum));
          if (p5.dist(points[i].x, points[i].y, p5.mouseX, p5.mouseY) < 100) {
            p5.line(points[i].x, points[i].y, p5.mouseX, p5.mouseY);
          }
        }
      } else {
        // draw single shape
        var p = p5.createVector(
          p5.map(p5.cos(p5.millis() * 0.001), -1, 1, 0, p5.width),
          p5.map(p5.sin(p5.millis() * 0.003), -1, 1, 0, 200)
        );
        for (var i = 0; i < pointsNum; i++) {
          p5.stroke(200 - 100 * (i / pointsNum));
          if (
            p5.dist(points[i].x, points[i].y, p.x, p.y) <
            p5.map(p5.sin(p5.millis() * 0.001), -1, 1, 20, 80)
          ) {
            p5.line(points[i].x, points[i].y, p.x, p.y);
          }
        }
      }
    };

    function changePoint() {
      var index = parseInt(Math.random() * points.length);
      a = c;
      c = p5.createVector(points[index].x, points[index].y);
      lerpVal = 0;
      startTime = p5.millis() + Math.random() * 4000;
    }
  };
</script>

<div style="height: 200px">
  <P5 {sketch} />
</div>
