<script>
  import P5 from "p5-svelte/P5.svelte";

  const sketch = (p5) => {
    var pos = [];
    var inc = [];
    var oscil = [];
    var oscilInc = [];
    var posNum;
    var lineNum;

    //-- interaction (click) changes the mask of the mountains

    p5.setup = () => {
      var cnv = p5.createCanvas(p5.windowWidth, 200);

      p5.frameRate(30);
      posNum = 11;
      lineNum = 20;
      pos = [];
      inc = [];
      oscil = [];
      oscilInc = [];
      for (var i = 0; i < posNum; i++) {
        pos[i] = p5.createVector(
            p5.width * 0.1 * i + p5.width * 0,
            p5.height * 0.5 + (i - posNum * 0.5) * 1
        );
      }

      for (var i = 0; i < posNum; i++) {
        inc[i] = Math.random() - 0.5;
        oscil[i] = Math.random() - 0.5;
        oscilInc[i] = Math.random() * 0.01;
      }
    };

    p5.draw = () => {
        p5.background(250, 250, 248);
        p5.strokeWeight(2);
      for (var i = 0; i < pos.length - 1; i++) {
        p5.stroke(0, 0, 0, pos[i].y);

        // line(pos[i].x, pos[i].y, pos[i+1].x, p	os[i+1].y);
        for (var k = 0; k < 2; k += 0.075) {
            p5.line(pos[i].x, pos[i].y * k, pos[i + 1].x, pos[i + 1].y * k);
        }

        pos[i].y = p5.map(p5.noise(oscil[i]), 0, 1, 0, p5.height * 0.5);
      }

      pos[i].x = p5.constrain(pos[i].x, 0, p5.width);
      pos[i].y = p5.constrain(pos[i].y, p5.height * 0.01, p5.height * 0.59);

      var mpos = parseInt(
        p5.map(p5.constrain(p5.mouseY, 0, p5.height), 0, p5.height, 0, pos.length)
      );
      for (var i = 0; i < mpos; i++) {
        for (var j = 0; j < pos.length; j++) {
            p5.stroke(0, 0, 0, p5.map(j, 0, pos.length, 0, 200));
        }
      }

      for (var i = 0; i < oscil.length; i++) {
        oscil[i] += oscilInc[i] * p5.map(p5.mouseX, 0, p5.width, 0.1, 3);
      }
    };
  };
</script>

<div style="height: 200px">
  <P5 {sketch} />
</div>
