@font-face{
	font-family: Ashbury;
  font-display: swap;
	src: url("fonts/AshburyMed.otf");
}

@font-face{
	font-family: EdwardPro-Normal;
  font-display: swap;
	src: url("fonts/EdwardPro-Normal.otf");
}

@font-face{
	font-family: EdwardPro-ExtraLight;
  font-display: swap;
	src: url("fonts/EdwardPro-ExtraLight.otf");
}

body{
  color: black;
}

h1{
  width: 30%;
  left:40%;
  margin: auto;
  text-align: center;
  font-size: 4em;
  font-family: Ashbury;
}

h3{
  width: 30%;
  left:40%;
  margin: auto;
  text-align: center;
}

h3{
  font-family: EdwardPro-Normal;
}

p, ul{
  font-family: EdwardPro-ExtraLight;
	text-align: center;
}

ul{

}

div{
	font-family: EdwardPro-ExtraLight;
  margin-top: 1%;
  margin-bottom: 1%;
	text-align: justify;
}

#wrapper{
  /*padding: 5%;*/
}

#fr{
  width: 35%;
  float:left;
	margin-left: 12%;
}

#en{
  width: 35%;
  float:right;
	margin-right: 12%;
}

.link{
  font-family: EdwardPro-ExtraLight;
  color:red;
  float: right;
  width: 100%;
  text-align: center;
	padding-top: 1%;
}

.header{
	font-size: 0.9em;

}

.instruction{
	font-size: 1.2em;
	text-align: center;
}
